@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    h1, h2, h3, h4, h5 {
        @apply font-medium;
    }
}

@keyframes pulse-bg {
    0% {
        background-color: #ddd;
    }
    50% {
        background-color: #d0d0d0;
    }
    100% {
        background-color: #ddd;
    }
}
